<div class="about">
    <h1>About </h1>
    <p style="font-weight: bold">
        Discovering Horizons: Your Gateway to Insightful Blogging
      </p>
    <div class="about-info">
        <div class="about-img">
            <img src=
"https://img.freepik.com/premium-vector/word-concept-color-geometric-shapes-blog_205544-12899.jpg" alt="Blog-Logo">
        </div>
        <div>
        <p> Embark on a journey of exploration and discovery as you navigate through our vibrant blogosphere. At this Blog website, we strive to create an immersive and inclusive space where every word, every thought, and every perspective finds a home.
            Our platform is more than a collection of blogs; it's a community where diverse voices harmonize to create a rich tapestry of stories and insights. From thought-provoking narratives to practical tips, we cover an array of topics, ensuring there's something for every curious mind.
        </p>
            <button>Read More...</button>
        </div>
    </div>
</div>