 <div class="contact-conatiner">
    <form action=""  class="contact-left">
        <div class="contact-left-title">
            <h3>Contact Us</h3>
        </div>
        <input type="text" placeholder="Your Name" class="contact-inputs" required>
        <input type="email" placeholder="Your Email" class="contact-inputs" required>
        <textarea name="message" placeholder="Your Message" class="contact-inputs" cols="30" rows="10" required></textarea>
        <button type="submit">Submit</button>
    </form>

 </div>